body {
    background: #2c2c2c;
}

.container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1920px;
}

aside {
    float: left;
    background: #181818;
    padding: 2.5%;
    /* height: 100vh; */
    position: fixed;
    color: #fff;
    border-right: 5px solid #4d4d4d;
}

aside img {
    width: 50px;
}

aside .logo {
    font-size: 35px;
    margin-left: 10px;
    font-weight: bold;
}

aside h3 {
    margin-top: 50px;
    font-size: 28px;
}

aside ul {list-style: none;}
aside ul li {
    color: #fff;
    display: block;
    margin-top: 20px;
    transition: all .3s ease;
}

aside ul li:hover, aside ul a:hover {
    color: #eb5959;
    text-decoration: none;
    transform: scale(1.05);
    transform: translate(15px);
   
}

ul li {
    list-style-type: none;
}

main .features {
    color: #fff;
    margin-top: 100px;
    text-align: center;
}

main .features h1 {font-size: 50px;}
main .features p {max-width: 800px; margin: 20px auto;}

.alert-warning {
    /* Превью поста */
    clear: both;
    margin: 20px 20%;
    text-align: left;
}

form {
    margin: auto;
    width: 500px;
    margin-top: 50px;
}
